<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type = "text/css" href = "/endGame.css"/>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <p class="message-result-game"><%= @messageResult %></p>
        <h1>Numero secreto: <%= @secretNumber %></h1>
        <button class="btn btnSalir">
            <a href="/Homepage" class="">Volver a Jugar</a>
        </button> 
    </div>    
</body>
</html>