<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type = "text/css" href = "/Homepage.css"/>
    <title>Document</title>
</head>
<body>
    <div class="container">
      <!--  <h1>Ingrese numeros: </h1>
        <input type='text' name='numero'>
        <button class="btn btnPlayGame">
            <a href="/PlayGame" class="linkPlayGame">Enviar</a>
        </button> -->


        <form action="/Number" method="post">
            <h1>Ingrese numeros: </h1>
            <label for="number">numero:</label><br>
            <input type="text" id="number" name="number" value="" maxlength="<%=@maxlength%>" minlength="<%=@maxlength%>" required><br>
            <input type="submit" value="Submit">
        </form>

    </div>
</body>
</html>