<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type = "text/css" href=""/>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Jugador <%= @player %> puedes comenzar.</h1>
        <button class="btn startGame">
            <a href="/PageTrie" class="linkPlay">Vamos</a>
        </button>
        <button class="btnHomepage">
            <a href="/Homepage" class="linkHome">Ir a la pagina principal</a>
        </button>
    </div>
</body>
</html>