<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type = "text/css" href="/play.css"/>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1><strong><%= @instructionPlayer%></strong></h1>
        <h2>Debe introducir <%= @length%> elementos y no deben repetirse</h2>
        <form action="/secretRegister" method="post">
                <label for="secretNumber">Ingrese el numero secreto:</label><br>
                <input type="number" id="secretValue" name="secretValue" value="" required><br>
                <input type="submit" value="Confirmar">
        </form>
        <button class="btnHomepage">
            <a href="/Homepage" class="linkPlay">Ir a la pagina principal</a>
        </button>
    </div>
</body>
</html>