<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="cointainer">
        <h1>Intento numero: <%= @numberTry %></h1>
        <p>El numero ingresado: <%= @number %></p>   
        <p>El resultado: <%= @result %></p>  
        <p>Te quedan: <%= @triesRemaining %> intentos</p>  
        <button class="btn btnSalir">
            <a href="/EnterNumber" class="">Hacer otro intento</a>
        </button>   
    </div>


</body>
</html>