.container {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1{
    text-align: center;
}
p{
    text-align: justify;
}
.btn {
    display: flex;
    margin: 15px;
}